body{
    margin: 5% 30%;
    text-align: center;
}
.Hel {
    border: 2px solid red;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    background-color: red;
    color: snow;
    width: 300px;
    height: 100px;
}
.white1 {
    background-color: white;
    color:black;
    width: 300px;
    height: 15px;
}
.Tra{
    color: snow;
    border: 2px solid red;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: red;
    width: 300px;
    height: 30px;
}






